<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ProgramSettings" type="Task_12.ProgramSettingsSection, Task_12, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <ProgramSettings IntSetting="123" StrSetting="456">
    <add SubSetting="KeyName" SubSettingValue="Value"/>
    <add SubSetting="KeyName1" SubSettingValue="Value1"/>
  </ProgramSettings>
</configuration>
