.results__diagram {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 320px;
  height: 320px;

  border: 12px solid #fff49b;
  border-radius: 160px;
}

.diagram__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info__title {
  font-size: 26px;
  line-height: 30px;
}

.info__text {
  margin: 4px 0;

  color: #808284;
  font-size: 14px;
  line-height: 16px;
}
