body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.2;

  background-color: #edf2f7;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 1024px;
}

.column-container {
  display: flex;
  align-items: flex-start;

  padding-bottom: 30px;
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 76px;
}

.input {
  box-sizing: border-box;
  padding: 12px 16px;

  border: 1px solid #d5d9de;
  border-radius: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 505px;
  min-height: 337px;
  padding: 0 86px;
  padding-top: 55px;
  padding-bottom: 32px;

  color: #808284;

  background-color: white;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form__input {
  margin-top: 9px;
  padding: 12px 14px;

  border: 1px solid #d5d9de;
  border-radius: 4px;
}

.form__title {
  margin: 0 auto;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
}

.form__text {
  margin: 0 auto;
  margin-bottom: 12px;

  color: black;
  font-size: 30px;
}

.form__button {
  margin-top: 24px;
}

